@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Gig Details - " + Model.Gig.Artist.Name;
}
<h2>@Model.Gig.Artist.Name
    @if (Request.IsAuthenticated)
    {
        <button data-user-id="@Model.Gig.ArtistId"
                class="btn btn-sm js-toggle-follow follow-btn">
            Follow
        </button>
    }
    </h2>
<p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM")
    at @Model.Gig.DateTime.ToString("HH:mm")</p>
@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event.</p>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            var True = true;
            var False = false;
            if (@Model.IsFollowing)
            {
                $(".js-toggle-follow")
                    .text("Following")
                    .prop("disabled", true);
            }

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings",
                    // has to be in object body as expected in controller
                    { followeeId: button.attr("data-user-id") })
                    .done(function () { // success callback
                        button.text("Following");
                        button.prop("disabled", true);
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}