@model IEnumerable<GigHub.Core.Models.Gig>
@{
    ViewBag.Title = "My Upcoming Gigs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>My Upcoming Gigs</h1>
<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="year">
                    @gig.DateTime.ToString("yyyy")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <table class="details">
                <tr>
                    <td class="venue">
                        @gig.Venue
                    </td>
                </tr>
                <tr>
                    <td class="genre">
                        @gig.Genre.Name
                    </td>
                </tr>
                <tr>
                    <td class="actions">
                        <a href="@Url.Action("Edit","Gigs",
                                new { id = gig.Id })">Edit</a>
                        |
                        <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                        Cancel</a>
                    </td>
                </tr>
            </table>
            <div class="gigs-list-space">
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);

                function callGigCancelApi(result) {
                    $.ajax({
                        url: "/api/gigs/" + link.attr("data-gig-id"),
                        method: "DELETE"

                    })
                    .done(function () {
                        link.parents("li").fadeOut(function () {
                            $(this).remove();
                        });
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
                };

                bootbox.dialog({
                    message: "Are you sure you want to cancel this gig?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default"
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: callGigCancelApi
                        }
                    }
                });
            });
        });
    </script>
}