@using Microsoft.AspNet.Identity
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = Model.Heading;
    var userId = User.Identity.GetUserId();
}
<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs",
        new { ReturnUrl = ViewBag.ReturnUrl }, 
            FormMethod.Post, new { @class = "search-gig-form" }))
{
    <div class="form-group">
        <div class="input-group gig-search-bar">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "form-control",
                @placeholder = "Search for artist, genre or location..."
            })
            <div class="input-group-addon">
                <input value="" type="submit" />
                <i class="glyphicon glyphicon-search" id="gig-search-icon"></i>
            </div>
        </div>
    </div>
}
<ul id="gigs" class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date @(@gig.IsCancelled ? "opacity-0-5" : "")">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="year">
                    @gig.DateTime.ToString("yyyy")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <a class="artist" href="@Url.Action("Details","Gigs",
                        new { id = gig.Id })">@gig.Artist.Name</a>
                <div class="genre">
                    @gig.Genre.Name
                </div>
                <div class="going-section">
                    @if (Model.ShowActions)
                    {
                        if(gig.ArtistId != userId && !gig.IsCancelled)
                        {
                            <button data-gig-id="@gig.Id"
                                    class="btn going-btn
                                    @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default")
                                    btn-sm js-toggle-attendance">
                                @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going ?")
                            </button>
                        }
                        else if(gig.IsCancelled)
                        {
                            <span class="label label-warning">Cancelled</span>
                        }
                        else
                        {
                            <span class="label label-warning">Your Gig</span>
                        }
                    }
                </div>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            GigsController.init($("#gigs"));
        });
    </script>
}