@using Microsoft.AspNet.Identity
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = Model.Heading;
    var userId = User.Identity.GetUserId();
}
<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs",
        new { ReturnUrl = ViewBag.ReturnUrl }, 
            FormMethod.Post, new { @class = "search-gig-form" }))
{
    <div class="form-group">
        <div class="input-group gig-search-bar">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "form-control",
                @placeholder = "Search for artist, genre or location..."
            })
            <div class="input-group-addon">
                <input value="" type="submit" />
                <i class="glyphicon glyphicon-search" id="gig-search-icon"></i>
            </div>
        </div>
    </div>
}
<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date @(@gig.IsCancelled ? "opacity-0-5" : "")">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="year">
                    @gig.DateTime.ToString("yyyy")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <table class="details">
                <tr>
                    <td class="artist">
                        <a href="@Url.Action("Details","Gigs",
                                new { id = gig.Id })">@gig.Artist.Name</a>
                        @if (Model.ShowActions)
                        {
                            if(gig.ArtistId != userId)
                            {
                                <button data-user-id="@gig.ArtistId"
                                    class="btn btn-sm follow-btn
                                    @(gig.Artist.Followers.Any(f => f.FollowerId == userId) ?
                                        "btn-info" : "btn-default")
                                        pull-right js-toggle-follow">
                                    @(gig.Artist.Followers.Any(f => f.FollowerId == userId) ?
                                        "Following" : "Follow")
                                </button>
                            }
                            else
                            {
                                <span class="label label-info pull-right">Your Gig</span>
                            }
                        }

                    </td>
                </tr>
                <tr>
                    <td class="genre">
                        @gig.Genre.Name
                        @if (Model.ShowActions)
                        {
                            if (gig.IsCancelled)
                            {
                                <span class="label label-warning pull-right">Cancelled</span>
                            }
                            else if (gig.ArtistId != userId)
                            {
                                <button data-gig-id="@gig.Id"
                                        class="btn going-btn
                                        @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default")
                                        btn-sm pull-right js-toggle-attendance">
                                    @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going ?")
                                </button>
                            }
                        }
                    </td>
                </tr>
            </table>
            <div class="gigs-list-space">
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/attendances",
                        // has to be in object body as expected in controller
                        { gigId: button.attr("data-gig-id") })
                        .done(function () { // success callback
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going")
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                } else {
                    $.ajax({
                        url: "/api/attendances/" + button.attr("data-gig-id"),
                        method: "DELETE"
                    })
                    .done(function() {
                        button
                            .removeClass("btn-info")
                            .addClass("btn-default")
                            .text("Going ?")
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
                }
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/followings",
                        // has to be in object body as expected in controller
                        { followeeId: button.attr("data-user-id") })
                        .done(function () { // success callback
                            _.each($(".follow-btn"), function (btn) {
                                $(btn).removeClass("btn-default")
                                 .addClass("btn-info")
                                 .text("Following")
                            });
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                } else {
                    $.ajax({
                        url: "/api/followings/" + button.attr("data-user-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            _.each($(".follow-btn"), function (btn) {
                                $(btn).removeClass("btn-info")
                                 .addClass("btn-default")
                                 .text("Follow")
                            });
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                }
            });
        });
    </script>
}